* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 15px;
}

@media (max-width: 1200px) {
  .container {
    width: 830px;
  }
}
@media (max-width: 829px) {
  .container {
    max-width: 600px;
  }
}
.row {
  display: flex;
  justify-content: space-between;
}

.main {
  width: 870px;
}

.sidebar {
  min-width: 200px;
  width: 270px;
}

@media (max-width: 829px) {
  .sidebar {
    margin-left: 0 !important;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 13px 2px black;
    overflow-y: scroll;
    transform: translateX(-110%);
    transition: transform 0.3s ease-in;
  }

  .sidebar--mobile-active {
    transform: translateX(0%);
  }
}
.main + .sidebar {
  margin-left: 30px;
}

.card-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-holder > .card-link {
  margin-bottom: 30px;
}

.card-link--hidden {
  display: none !important;
}

@media (max-width: 599px) {
  .card-holder {
    flex-direction: column;
    align-items: center;
  }
}
a.card-link {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

a.card-link:hover {
  opacity: 0.9;
  transform: translateY(-5px);
}

.card {
  position: relative;
  background-color: #fff;
  width: 270px;
}
.card__badges {
  position: absolute;
  top: 10px;
  left: 15px;
  right: 15px;
  display: flex;
}
.card__badges > * + * {
  margin-left: 10px;
}
.card__badge--class {
  background: #ffcf26;
}
.card__badge--finish {
  background: #11be75;
}
.card__badge {
  display: inline-block;
  height: 22px;
  padding: 0 10px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}
.card__pic {
  width: 270px;
  height: 200px;
}
.card__content {
  padding: 15px 15px 20px;
}
.card__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.16;
  color: #000000;
}
.card__region {
  font-size: 14px;
  line-height: 1.14;
  color: #777777;
}
.card__metro {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  color: #000000;
}
.card__metro::before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  background-image: url("../img/icons/metro-icon.svg");
  background-repeat: no-repeat;
  background-size: initial;
}
.card__address {
  font-size: 14px;
  line-height: 1.14;
  color: #777777;
}

.btn-more {
  width: 100%;
  height: 80px;
  background: #e5e5e5;
  border-radius: 4px;
  border: none;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #4290c9;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.btn-more:hover {
  background-color: #d3d3d3;
}

.btn-more img {
  display: inline-block;
  margin-right: 10px;
  vertical-align: bottom;
}

.widget {
  cursor: pointer;
}
.widget__title {
  margin-bottom: 20px;
  position: relative;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.16;
  color: #000000;
}
.widget__title::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../img/icons/chevron-up.svg");
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center;
}
.widget__title--active::after {
  transform: rotate(180deg);
}
.widget__body--hidden {
  display: none;
}

.widget + .widget {
  margin-top: 30px;
}

.location__row {
  display: flex;
}
.location__row:first-child {
  border-radius: 4px 4px 0 0;
  border: 1px solid #d6d6d6;
  border-bottom: none;
  overflow: hidden;
}
.location__row:last-child {
  border-radius: 0 0 4px 4px;
  border: 1px solid #d6d6d6;
  overflow: hidden;
}
.location__btn {
  font-family: inherit;
  flex-grow: 1;
  height: 50px;
  padding: 0 15px;
  background-color: transparent;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 50px;
  color: #3c3c3c;
  border: none;
  cursor: pointer;
  transition: background-color 0.1s ease-in;
}
.location__btn:hover {
  background-color: #ffe5868c;
}
.location__checkbox {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}
.location__checkbox:checked + .location__btn {
  background-color: #ffcf26;
}
.location__checkbox:checked + .location__btn:hover {
  background-color: #e0b000;
}

.radio {
  display: block;
  cursor: pointer;
  margin-bottom: 15px;
}
.radio .radio + .radio {
  margin-bottom: 15px;
}
.radio__real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}
.radio__fake {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #777777;
  border-radius: 50%;
}
.radio__real:checked + .radio__fake {
  background-color: #ffe074;
}
.radio__real:checked + .radio__fake::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #3c3c3c;
}
.radio__real:checked ~ .radio__title {
  color: #000;
  font-weight: 500;
}
.radio__fake:checked {
  background-color: #ffe074;
}
.radio__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #000000;
}

.checkbox {
  display: block;
  cursor: pointer;
  margin-bottom: 15px;
}
.checkbox .checkbox + .checkbox {
  margin-bottom: 15px;
}
.checkbox__real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}
.checkbox__fake {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #777777;
  border-radius: 2px;
}
.checkbox__real:checked + .checkbox__fake {
  background-color: #ffe074;
}
.checkbox__real:checked + .checkbox__fake {
  background-color: #ffe074;
}
.checkbox__real:checked + .checkbox__fake::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url(../img/icons/check.svg);
  background-size: initial;
  background-position: center;
  transform: translate(-50%, -50%);
}
.checkbox__real:checked ~ .checkbox__title {
  color: #000;
  font-weight: 500;
}
.checkbox__fake:checked {
  background-color: #ffe074;
}
.checkbox__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #000000;
}

.checkbox--hidden {
  display: none;
}

.widget__hidden {
  display: none;
}

.widget__btn-show-hidden {
  display: inline-block;
  padding: 0;
  background: transparent;
  border: none;
  font-family: inherit;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  color: #4290c9;
  cursor: pointer;
  transition: color 0.1s ease-in;
}

.widget__show-hidden:hover {
  color: #06489e;
}

.toggle {
  cursor: pointer;
}
.toggle__real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}
.toggle__fake {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 37px;
  height: 20px;
  background: #c4c4c4;
  border-radius: 10px;
  vertical-align: bottom;
}
.toggle__fake::before {
  position: absolute;
  top: 2px;
  left: 2px;
  content: "";
  width: 16px;
  height: 16px;
  background: #3c3c3c;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}
.toggle__real:checked + .toggle__fake {
  background-color: #ffe074;
}
.toggle__real:checked + .toggle__fake::before {
  left: 19px;
}
.toggle__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #000000;
}
.toggle__real:checked ~ .toggle__title {
  color: #000;
  font-weight: 500;
}

.form-btn {
  width: 100%;
  height: 50px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background-color: transparent;
  font-family: inherit;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #3c3c3c;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.form-btn:hover {
  background-color: #dddddd;
}

.form-btn img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  margin-top: -2px;
}

.form-btn + .form-btn {
  margin-top: 10px;
}

.from-btn--submit {
  color: #000;
  background-color: #ffcf26;
  border: none;
}

.from-btn--submit:hover {
  background-color: #ffe173;
}

.toggle-sidebar {
  display: none;
  position: fixed;
  z-index: 9;
  right: 15px;
  top: 8px;
  width: 45px;
  height: 45px;
  background-color: #5c5c5c;
  justify-content: center;
  align-items: center;
}

@media (max-width: 829px) {
  .toggle-sidebar {
    display: flex;
  }
}
.menu-icon-wrapper {
  /*   background: red; */
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-icon {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #fff;
}

.menu-icon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active {
  background-color: transparent;
}

.menu-icon.menu-icon-active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

/*# sourceMappingURL=style.css.map */
